<%- include("navbar",{title: "Sefer Oluştur" }) %>
    <main>
        <div class="banner">Sefer Oluştur</div>

        <form action="/sefer/new" method="post">
            <label>
                Sefer Adı
                <input type="text" id="name" name="name">
            </label>

            <label>
                Sefer Fiyatı
                <input type="number" id="price" name="price">
            </label>
          
            <button type="submit">Oluştur</button>
        </form>
    </main>
   
    <%- include("footer") %>