<%- include("navbar",{title: "Yol Oluştur" }) %>
    <main>
        <div class="banner">Sefer Yol Oluştur</div>

        <form action="/new" method="post">
            <label>
                Şoför Adı
                <input name="name" id="name" type="text" placeholder="AHMET DURAN" required>
            </label>
            <label>
                TCKN
                <input name="tckn" id="tckn" type="text" required>
            </label>

            <button type="submit">Oluştur</button>
        </form>
    </main>
    <%- include("footer") %>