<footer>

    <img src="/logo.webp" class="logo">
    <p>&copy; 2026 Sabırlar Lojistik ve MERVE NUR ÖZCAN. Tüm hakları saklıdır.</p>
    <a target="_blank" href="https://sabirlar.com"><i class="fa-solid fa-globe"></i></a>

</footer>
</body>

</html>